In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
%matplotlib widget
plt.ion()
sns.set(rc={'figure.figsize': (11, 4)})
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
ds = pd.read_csv("../data/df_final.csv")

In [10]:
ds.isna().sum()

sitename                    0
date                        0
TA_F                        0
TA_F_DAY                    0
TA_F_NIGHT                  0
SW_IN_F                     0
LW_IN_F                     0
VPD_F                       0
PA_F                        0
P_F                         0
WS_F                        0
LE_F_MDS                    0
NEE_VUT_REF                 0
GPP_NT_VUT_REF              0
wscal                       0
fpar                        0
lon                         0
lat                         0
elv                         0
classid                     0
c4                          0
whc                         0
koeppen_code                0
igbp_land_use            5478
plant_functional_type    5478
dtype: int64

In [16]:
site = "AR-Vir"
ds[ds['sitename'] == site].date.unique().tolist()[0], ds[ds['sitename'] == site].date.unique().tolist()[-1], len(ds[ds['sitename'] == site].date.unique().tolist())/30

('2009-01-01', '2012-12-31', 48.7)

In [17]:
def plot_target_by_months(ds, site, year):
    site_df = ds[ds['sitename'] == site][["date", "GPP_NT_VUT_REF"]]
    site_df['date'] = pd.to_datetime(site_df['date'], format="%Y-%m-%d")
    site_df = site_df.set_index("date")

    year_df = site_df[site_df.index.year == year]
    # year_df.groupby(year_df.index.month).boxplot()
    year_df['month'] = year_df.index.month
    year_df['month'] = year_df['month'].apply(lambda x: calendar.month_abbr[x])
    %matplotlib widget
    plt.ion()
    sns.boxplot(data=year_df, x='month', y="GPP_NT_VUT_REF").set_title(site + " in " + str(year))

In [19]:
plot_target_by_months(ds, "AR-Vir", 2011)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [7]:
ds

        Unnamed: 0 sitename        date    TA_F  SW_IN_F  LW_IN_F   VPD_F    PA_F    P_F   WS_F     USTAR   CO2_F_MDS  GPP_NT_VUT_REF
0                1   AR-Vir  2009-01-01  28.671  307.007  392.519  20.158  99.548  0.000  3.744  0.553115  354.284918       -0.695432
1                2   AR-Vir  2009-01-02  24.547  212.807  399.500  11.046  99.552  6.917  3.913  0.534813  349.998459        9.582348
2                3   AR-Vir  2009-01-03  22.329  276.267  369.261  11.534  99.733  0.329  4.206  0.624032  385.025344        8.512268
3                4   AR-Vir  2009-01-04  22.994  339.802  335.382  14.660  99.979  0.000  2.745  0.136002  387.550232        5.998422
4                5   AR-Vir  2009-01-05  24.699  345.667  339.134  17.114  99.785  0.000  1.799  0.241101  361.244943        9.369482
...            ...      ...         ...     ...      ...      ...     ...     ...    ...    ...       ...         ...             ...
265172      265173   ZM-Mon  2009-12-27  22.857  291.147  375.190   7.918  89.212  0.467  1.897  0.495470  393.599670        5.688883
265173      265174   ZM-Mon  2009-12-28  22.720  271.966  381.716   6.998  89.171  1.650  1.360  0.396692  370.456133        7.266249
265174      265175   ZM-Mon  2009-12-29  21.899  241.666  381.685   4.748  89.142  5.493  1.403  0.207637  445.700182        9.269704
265175      265176   ZM-Mon  2009-12-30  22.296  234.093  384.903   6.234  89.143  2.134  2.160  0.256847  363.831560       12.287981
265176      265177   ZM-Mon  2009-12-31  21.609  181.602  392.126   4.895  89.212  4.495  2.650  0.384972  379.882122        9.127574

[265177 rows x 13 columns]